#projects {
    padding: 50px 20px;
  }
  
  #projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 1.1em;
  }
  